<div class="uk-modal" id="deleteTicketTypeModal-{{_id}}" ng-controller="settingsCtrl">
    <div class="uk-modal-dialog">
        <form class="uk-form-stacked" id="deleteTicketTypeForm-{{_id}}" action="#" method="POST">
            <input type="hidden" id="del_type_name-{{_id}}" name="del_type_name" value="{{name}}">
            <div class="uk-margin-medium-bottom uk-clearfix">
                <h2 class="">Eliminar Tipo de Ticket</h2>
                <span>Por favor seleccione el tipo de ticket al que desea reasignar los tickets para eliminar este tipo de ticket.</span>
                <hr style="margin: 10px 0" />
            </div>
            <div class="uk-margin-medium-bottom uk-clearfix">
                <div class="uk-float-left" style="width: 100%;">
                    <label for="ticketType" class="uk-form-label">Tipo</label>
                    <select class="selectize" name="ticketType" data-md-selectize-inline>
                        {{#each @root.data.common.ticketTypes}}
                            {{#isnot name ../name}}
                                <option value="{{{_id}}}">{{name}}</option>
                            {{/isnot}}
                        {{/each}}
                    </select>
                </div>
            </div>
            <div class="uk-margin-medium-bottom uk-clearfix">
                <span class="uk-text-danger">ADVERTENCIA: Esto cambiará todos los tickets con tipo: <strong>{{name}}</strong> al tipo de ticket seleccionado arriba. <br /><strong>¡Esto es permanente!</strong></span>
            </div>
            <div class="uk-modal-footer uk-text-right">
                <button type="button" class="md-btn md-btn-flat uk-modal-close">Cancelar</button>
                <button type="button" class="md-btn md-btn-flat md-btn-flat-danger" data-id="submitDeleteTicketType" ng-click="submitDeleteTicketType('{{_id}}', $event)">Eliminar</button>
            </div>
        </form>
    </div>
</div>